<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Home Page from App Level</h1>
    <p>This is a simple Django template.</p>
    {{ prods }} products found.
    <ul>
        {% for product in prods %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>
    <p>Thank you for visiting!</p>

    
</body>
</html>